<!DOCTYPE html>
<html lang="en">
<head>
  <title>Event Manager</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link href='./css/fullcalendar.css' rel='stylesheet' />
  <link href='./css/fullcalendar.print.css' rel='stylesheet' media='print' />
  <script src="./js/jquery.min.js"></script>
  <script src="./js/moment.min.js"></script>
  <script src="./js/bootstrap.min.js"></script>
  <script src="./js/angular.min.js"></script>
  <script src="./js/fullcalendar.min.js"></script>
  <script src="./js/calendar.min.js"></script>
  <script src="./js/md5.min.js"></script>
  <script src="./js/app.js"></script>
</head>
<body ng-app="app" ng-controller="controller">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Event Manager</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li ng-show="user != undefined"><a style="cursor: default; color:white;">{{user.firstName}} <span class="glyphicon glyphicon-user"></span></a></li>
            <li ng-show="user != undefined"><a href="#" ng-click="logout();">Logout <span class="glyphicon glyphicon-log-out"></span></a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container" ng-show="loginScreen">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="panel panel-login">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-6">
                  <a href="#" ng-click="loginPanel();" class="active" id="login-form-link">Login</a>
                </div>
                <div class="col-xs-6">
                  <a href="#" ng-click="registerPanel();" id="register-form-link">Register</a>
                </div>
              </div>
              <hr>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-12">
                  <div id="login-form" style="display: block;">
                    <div class="alert alert-danger" id="failed-login">
                      <button type="button" class="close" data-dismiss="alert">x</button>
                      <strong>Error! </strong>
                      Username or password is incorrect.
                    </div>
                    <div class="form-group">
                      <input type="text" name="username" id="username" tabindex="1" class="form-control" 
                            ng-model="loginUser.username" placeholder="Username" value="">
                    </div>
                    <div class="form-group">
                      <input type="password" name="password" id="password" tabindex="2" class="form-control" 
                            ng-model="loginUser.password" placeholder="Password">
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-sm-4 col-sm-offset-4">
                          <input type="submit" name="login-submit" id="login-submit" tabindex="3" class="form-control btn btn-primary" ng-click="loginUserMethod();" value="Log In">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="register-form" style="display: none;">
                    <div class="alert alert-success" id="success-registration">
                      <button type="button" class="close" data-dismiss="alert">x</button>
                      <strong>Success! </strong>
                      You're successfully registered.
                    </div>
                    <div class="form-group">
                      <input type="text" name="firstName" id="firstName" tabindex="1" class="form-control" 
                            placeholder="First Name" ng-model="registerUser.firstName">
                      <div class="help-inline">
                        <span style="color:red;" ng-show="isBlankCheck(registerUser.firstName);">&nbsp;First Name Required.</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <input type="text" name="lastName" id="lastName" tabindex="2" class="form-control" 
                            placeholder="Last Name" ng-model="registerUser.lastName">
                    </div>
                    <div class="form-group">
                      <input type="text" name="username" id="username" tabindex="3" class="form-control" 
                            placeholder="Username" ng-model="registerUser.username">
                      <div class="help-inline">
                        <span style="color:red;" ng-show="isBlankCheck(registerUser.username);">&nbsp;Username Required.</span>
                        <span style="color:red;" ng-show="invalidCharsUsername(registerUser.username);">Username must contain alphanumerics only.</span>
                        <span style="color:red;" ng-show="invalidLenCheck(registerUser.username, 3, 20);">Username must be 3-20 characters.</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <input type="password" name="password" id="password" tabindex="4" class="form-control" 
                            placeholder="Password" ng-model="registerUser.password">
                      <div class="help-inline">
                        <span style="color:red;" ng-show="isBlankCheck(registerUser.password);">&nbsp;Password Required.</span>
                        <span style="color:red;" ng-show="invalidLenCheck(registerUser.password, 5, 20);">Password must be 5-20 characters.</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-sm-4 col-sm-offset-4">
                          <input type="submit" name="register-submit" id="register-submit" tabindex="5" class="form-control btn btn-primary" ng-click="registerUserMethod();" 
                          ng-disabled="registrationFormCheck();" value="Register Now">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container" ng-show="eventsScreen">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <button class="btn btn-primary" ng-click="showEventModal();">Add Event&nbsp;
            <span class="glyphicon glyphicon-plus"></span></button>
          <br>
          <br>
          <div ui-calendar="uiConfig.calendar" class="span8 calengdar" ng-model="events"></div>
        </div>
      </div>
    </div>
    <div id="EventModal" class="modal fade ng-scope" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">{{modalHeader}}</h4>
          </div>
          <div class="modal-body">
            <div id="event-form" style="display: block;">
              <div class="form-group">
                <input type="text" name="title" id="title" tabindex="1" class="form-control" 
                      placeholder="Title" ng-model="modalEvent.title">
                <div class="help-inline">
                  <span style="color:red;" ng-show="isBlankCheck(modalEvent.title);">&nbsp;Title Required.</span>
                </div>
              </div>
              <hr>
              <div class="form-group">
                <label class="control-label">Start Date and Time: </label>
                <input type="date" class="form-control" ng-model="modalEvent.startDate" 
                ng-required="true" placeholder="Start date" 
                tabindex="2" />
                <div class="help-inline">
                  <span style="color:red;" ng-show="isUndefinedCheck(modalEvent.startDate);">&nbsp;Start Date Required.
                  </span>
                </div>
                <input type="time" class="form-control" ng-model="modalEvent.startTime" 
                ng-required="true" placeholder="Start time" 
                tabindex="3" /> 
              </div>
              <hr>
              <div class="form-group">
                <label class="control-label">End Date and Time: </label>
                <input type="date" class="form-control" ng-model="modalEvent.endDate" 
                ng-required="true" placeholder="End time" 
                tabindex="4" />
                <input type="time" class="form-control" ng-model="modalEvent.endTime" 
                ng-required="true" placeholder="End time" 
                tabindex="5" /> 
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4 col-sm-offset-4">
                    <input type="submit" name="event-submit" tabindex="6" class="form-control btn btn-primary" 
                      ng-click="(modalButton == 'Update') ? updateEventMethod() : saveEventMethod();" 
                      value="{{modalButton}}" ng-disabled="eventModalCheck();">
                    <input type="submit" ng-show="modalButton == 'Update'" name="event-delete" tabindex="7" 
                      class="form-control btn btn-danger" ng-click="deleteEventMethod();"
                      ng-disabled="eventModalCheck();" value="Delete">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container" ng-show="adminScreen">
      <div class="row">
        <div class="col-md-10 col-md-offset-1" style="height:100%;">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>View Events</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="user in users">
                <td>{{user.username}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td><a href="#" ng-click="showCalendar (user);" ng-hide="user.username == 'admin'">
                  <span class="glyphicon glyphicon-calendar" style="font-size: 1.7em;"></span></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="container" ng-show="beingWatchedUserScreen">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <a ng-click="goBackToUsers ()" style="cursor:pointer;">Go Back To Users</a>
          <br>
          <span style="font-size: 1.5em;"><b>{{beingWatchedUser.firstName}}'s Calendar</b></span>
          <br><br>
          <div id="viewOnlyCalendar" ui-calendar="uiConfigViewOnly.calendar" class="span8 calengdar" 
            ng-model="events">
          </div>
        </div>
      </div>
    </div>

    <footer class="footer container-fluid text-center">
      <p>Event Manager © 2016</p>
    </footer>
</body>
</html>

